<!--
<?js
var data = obj;
var self = this;
?>


<?js if (data.kind === 'package' && (data.name ||data.version)) { ?>
    <h3><?js= data.name ?> <?js= data.version ?></h3>
<?js } ?>

<?js if (data.readme) { ?>
    <section>
        <article><?js= data.readme ?></article>
    </section>
<?js } ?>
-->
<section>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<img class="img-responsive"src="http://code.nanofw.com/i2tm/img/Framework-Layout.png">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<img class="img-responsive"src="http://code.nanofw.com/i2tm/img/nanofw.png">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		</div>
	</div>
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><img class="img-responsive"src="http://code.nanofw.com/i2tm/img/cs2i.png"></div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><img class="img-responsive"src="http://code.nanofw.com/i2tm/img/r2wl.png"></div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><img class="img-responsive"src="http://code.nanofw.com/i2tm/img/mwdl.png"></div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><img class="img-responsive"src="http://code.nanofw.com/i2tm/img/2dgl.png"></div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><h4>DTUL</h4></div>
		<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><h4>RBAL</h4></div>
	</div>
</div>
</section>