/*********************************************************************************
 Basic    
 Bright:	#00FF00		hover, border, anywhere to brink attention		
 Light:		#C2FFC2		primary foreground color (text, ect)
 Medium: 	#34AA34	 	herder, sub herder, link foreground
 Dark:		#001000		primary background color
*********************************************************************************/
.bgBright { background-color: #00ff00;}	.fgBright { color: #00ff00; }
.bgLight { background-color: #c2ffc2;}	.fgLight { color: #c2ffc2; }
.bgMedium { background-color: #34aa34;}	.fgMedium { color: #34aa34; }
.bgDark { background-color: #001000; }	.fgdark { color: #001000; }

/* Basic Theme FG/BG color Skins */
.clr-normal { background: rgba(255, 255, 255, 0.85); color: rgba(60, 100, 190, 0.85); }
.clr-light { background: rgba(235, 235, 235, 0.85); color: rgba(180, 180, 180, 0.85); }
.clr-dark { background: rgba(30, 30, 30, 0.90); color: rgba(90, 90, 90, 1); }
.clr-desert { background: rgba(255, 245, 235, 0.85); color: rgba(220, 190, 140, 0.85); }
.clr-ladies { background: rgba(250, 210, 250, 0.85); color: rgba(145, 25, 45, 0.85); }
.clr-i2tm { background: rgba(0, 0, 0, 0.85); color: rgba(0, 200, 0, 0.85); }

/* Basic Theme Header Styles */
.hdr-1 {text-transform: uppercase; text-shadow: -1px -1px 1px #0f0, 1px 1px 1px #0f0; letter-spacing: 0.25em;}
.hdr-2 {text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;font-family:Arial, Helvetica, sans-serif;color: #090;font-weight:lighter;-moz-box-shadow: 2px 2px 8px #888;-webkit-box-shadow: 2px 2px 8px #888;box-shadow:2px 2px 8px #888;text-align:center;display:block;margin-bottom: 1em;}
.hdr-3 {text-shadow: -1px -1px #00ff00, 1px 1px #001000, -3px 0 4px #000000;font-family:"Segoe print", Arial, Helvetica, sans-serif;font-weight:lighter;text-align:center;display:inline;}
.hdr-4 {margin-bottom: 0.5em;text-shadow: 1px 1px 0px #001000, 1px 2px 0px #00aa00;}
.hdr-5 {background: -webkit-gradient(linear, 80% 20%, 0% 100%, from(#000000), to(#34AA34));text-shadow: 0.11em 0.11em .44em #000000;-webkit-border-radius: 0.2em;border-radius: 0.2em;padding-left: 0.25em;padding-top: 0.25em;padding-bottom: 0.25em;}
.hdr-6 {margin-bottom: 0.5em;text-transform: uppercase;letter-spacing:0.25em;}

form label {
	display: block;
	font-size: 1.15em;
	color: #4d4d4d;/*medium*/
	font-weight: 800;
	padding-bottom: 0.8em;
}

/* Move this max dimensions to base.css*/
form input:not([type]), 
form input[type="reset"], 
form input[type="color"], 
form input[type="email"], 
form input[type="number"], 
form input[type="range"], 
form input[type="search"], 
form input[type="datetime-local"], 
form input[type="submit"], 
form input[type="button"], 
form input[type="file"], 
form input[type="text"], 
form input[type="tel"], 
form input[type="time"], 
form input[type="week"], 
form input[type="month"], 
form input[type="password"] {
	max-width: 12em;
}

form input,
form input:not([type]), 
form input[type="reset"], 
form input[type="color"], 
form input[type="email"], 
form input[type="number"], 
form input[type="range"], 
form input[type="search"], 
form input[type="datetime-local"], 
form input[type="submit"], 
form input[type="button"], 
form input[type="file"], 
form input[type="text"], 
form input[type="url"], 
form input[type="tel"], 
form input[type="time"], 
form input[type="week"], 
form input[type="month"], 
form input[type="password"],
form input.text,
form select,
form textarea {
	-webkit-appearance: none;
	display: block;
	border: 0;
	outline-color: transparent;
	background: #4d4d4d;/*medium*/
	box-shadow: inset 0px 0px 1px 0px #001000;/*dark*/
	border-radius: 0.35em;
	width: 100%;
	padding: 0.5em 0.4em 0.5em 0.4em;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

form input:hover,
form input:not([type]):hover, 
form input[type="reset"]:hover, 
form input[type="color"]:hover, 
form input[type="email"]:hover, 
form input[type="number"]:hover, 
form input[type="range"]:hover, 
form input[type="search"]:hover, 
form input[type="datetime-local"]:hover, 
form input[type="submit"]:hover, 
form input[type="file"]:hover, 
form input[type="button"]:hover, 
form input[type="text"]:hover, 
form input[type="url"]:hover, 
form input[type="tel"]:hover, 
form input[type="time"]:hover, 
form input[type="week"]:hover, 
form input[type="month"]:hover, 
form input[type="password"]:hover,
form input.text:hover,
form select:hover,
form textarea:hover {
	background: #cccccc;/*Bright*/
}

form input:focus,
form input:not([type]):focus, 
form input[type="reset"]:focus, 
form input[type="color"]:focus, 
form input[type="email"]:focus, 
form input[type="number"]:focus, 
form input[type="range"]:focus, 
form input[type="search"]:focus, 
form input[type="datetime-local"]:focus, 
form input[type="submit"]:focus, 
form input[type="file"]:focus, 
form input[type="button"]:focus, 
form input[type="text"]:focus, 
form input[type="url"]:focus, 
form input[type="tel"]:focus, 
form input[type="time"]:focus, 
form input[type="week"]:focus, 
form input[type="month"]:focus, 
form input[type="password"]:focus,
form input.text:focus,
form select:focus,
form textarea:focus {
	background: #999999;/*medium*/
}
		
form textarea {
	min-height: 10em;
}

form .formerize-placeholder { color: black !important; font-style: italic; }
form ::-webkit-input-placeholder { color: black !important; font-style: italic; }
form :-moz-placeholder { color: black !important; font-style: italic; }
form ::-moz-placeholder { color: black !important; font-style: italic; }
form :-ms-input-placeholder { color: black !important; font-style: italic; }
form ::-moz-focus-inner { border: 0; }



.titleBar {
	font-family: neuropol;
	color: rgba(90,90,90, 0.95);
	letter-spacing: 0.4em;
	font-size: 1.5em;
	text-shadow: 0px 1px 1px black;
	text-transform: uppercase;
	border: 1px solid #4d4d4d;
	height: 1.5em;
}
.draggable {
	cursor:move;
}
.dragging {
	background-color: rgba(10,90,10, 0.75);
}

.uiButton {
	cursor: pointer;
	text-shadow: 0px 1px 1px black;
	font-size: 1em;
	letter-spacing: 0.20em;
	display: inline-block;
	padding: .4em;
}
.uiButton:hover {
	box-shadow: inset 0px 0px 8px -1px #666;
}

/*
 * H5C3 Standard UI Properties
 */
#h5c3UI .desktop{}
	.desktop a {}
	.desktop a:active {}
	.desktop a:hover {}
	.desktop a:visited {}

#uiAppName {
	padding-left:2.5em;
	line-height: normal;
	margin: 0em;
}

#uiPageTitle {
	padding-left: 2.5em;
	line-height: normal;
	margin: 0em;
}

#mobileMenu {
	position:relative;
	font-family: neuropol;
	text-align: left;
	display: inline-block;
	line-height: normal;
	border-radius: 0em 0em 2em 0em;
	box-shadow: inset 0px 0px 1px 1px gray;
	margin: 1em .25em 1em 0em;
	max-width:15.9em;
	width:100%;	
} 

#mainMenu { font-size: 1.2em; z-index:100;margin-top:1em;text-decoration: none; width: 100%; }
	#mainMenu .navMobile, .icon-reorder { font-weight: 200; float: left; padding: .5em 1em .5em 1em;}
	#mainMenu .icon-reorder a:hover { color: initial; }
	#mainMenu a [class*=" icon-"] {	 color: initial; }
	#mainMenu span { font-weight: 900; font-size: 1.5em;float:left;padding-left:.5em;}
	
	#mainMenu ul { margin-top: 16px;}
	ul.topMenu { }
	ul div { font-size: 1.25em; padding: 0.5em; text-transform: uppercase;}
	#mainMenu li { list-style: none; margin:0em;}
	ul.topMenu li {}
	#mainMenu a { cursor: pointer; display:block; height:25px; line-height: 25px; text-indent: 10px; text-decoration:none; }
	#mainMenu a:hover{ opacity:0.5;background-color:inherit;}
	#mainMenu li:hover { position: relative; }
	ul.subMenu { display: none; }
	li:hover .subMenu { display: block; position: absolute;	left: 75px;	top: 5px; z-index:100; }
	ul.subMenu li { border: none; float:left; width:12.5em; }
	#mainMenu .subMenu {width:12.5em}
	#mainMenu .subMenu .subMenu {width:12.5em}
	#mainMenu .subMenu .subMenu .subMenu {width:12.5em}
	
	li:hover .subMenu .subMenu { display:none; }
	.subMenu li:hover .subMenu { display:block; }	
	

/**
 * Default UI Mainmenu
 */
#h5c3UI .window {}
	#h5c3UI .window a {}
	#h5c3UI .window a:active {}
	#h5c3UI .window a:hover {}
	#h5c3UI .window a:visited {}
	
	#h5c3UI .windowTitlebar {}
		#h5c3UI .windowTitlebar {}
			#h5c3UI .windowTitlebar.title {}
			#h5c3UI .windowTitlebar.icons {}
	
	#h5c3UI .windowBody {}
	#h5c3UI .windowStatusBar {}

<div class="window">
	<div class="windowTitleBar">
		<div class="windowTitleBar title left">
		</div>
		<div class="windowTitleBar icons right">
		</div>
	</div>
	<div class="windowBody">
	</div>
	<div class="windowStatusBar">
	</div>
</div>