<div id="template" name="brushed">
	<!-- This section is for Splash Screen -->
	<div class="ole">
	<section id="jSplash">
	<div id="circle"></div>
	<div id="circle1"></div>
	</section>
	</div>
	<!-- End of Splash Screen -->

	<!-- Homepage Slider -->
	<div id="home-slider">	
	<div class="overlay"></div>

	<div class="slider-text">
		<div id="slidecaption"></div>
	</div>   

	<div class="control-nav">
		<a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
		<a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
		<ul id="slide-list"></ul>
		
		<a id="nextsection" href="#portfolio"><i class="font-icon-arrow-simple-down"></i></a>
	</div>
	</div>
	<!-- End Homepage Slider -->

	<!-- Header -->
	<header>
	<div class="sticky-nav">
		<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
		
		<div id="logo">
			<a id="goUp" href="#home-slider" title="Andrew Donelson">Andrew Donelson</a>
		</div>
		
		<nav id="menu">
			<ul id="menu-nav">
				<li class="current"><a href="#home-slider">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#portfolio">Portfolio</a></li>
				<li><a href="#gallery">Gallery</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</nav>
		
	</div>
	</header>
	<!-- End Header -->

	<!-- About Section -->
	<div id="about" class="page">
	<div class="container">
	<!-- Title Page -->
	<div class="row">
		<div class="col-lg-12">
			<div class="title-page">
				<h2 class="title">About Me</h2>
				<h3 class="title-description">Learn more about me.</h3>
			</div>
		</div>
	</div>
	<!-- End Title Page -->

	<!-- Quote Box -->
	<div class="row">
		<div class="col-lg-12">
			<div class="quoteBox">
				<p class="text">"Never Tell People How To Do Things. Tell Them What To Do And They Will Surprise You With Their Ingenuity."</p>
				<p class="author">George S. Patton</p>
			</div>
		</div>
	</div>

	<!-- About Me -->
	<div class="row">
		
		<!-- Start Profile -->
		<div class="col-lg-4 profile">
			<div class="image-wrap">
				<div class="hover-wrap">
					<span class="overlay-img"></span>
					<span class="overlay-text-thumb">Personal</span>
				</div>
				<img src="img/profile/profile-01.jpg" alt="Personal">
			</div>
			<h3 class="profile-name">Personal</h3>
			<p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
			Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
		</div>
		<!-- End Profile -->
		
		<!-- Start My Military Career Profile -->
		<div class="col-lg-4 profile">
			<div class="image-wrap">
				<div class="hover-wrap">
					<span class="overlay-img"></span>
					<span class="overlay-text-thumb">My Military Career</span>
				</div>
				<img src="img/profile/profile-02.jpg" alt="My Military Career">
			</div>
			<h3 class="profile-name">My Military Career</h3>
			<p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
			Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
		</div>
		<!-- End My Military Career Profile -->
		
		<!-- Start My Civilian Career Profile -->
		<div class="col-lg-4 profile">
			<div class="image-wrap">
				<div class="hover-wrap">
					<span class="overlay-img"></span>
					<span class="overlay-text-thumb">My Civilian Career</span>
				</div>
				<img src="img/profile/profile-03.jpg" alt="My Civilian Career">
			</div>
			<h3 class="profile-name">My Civilian Career</h3>
			<p class="profile-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>. 
			Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>\            	
		</div>
		<!-- End My Civilian Career Profile -->
		
	</div>
	<!-- End About Me -->
	</div>
	</div>
	<!-- End About Section -->

	<!-- Our Work Section -->
	<div id="portfolio" class="page-alternate">
	<div class="container">
		<!-- Title Page -->
		<div class="row">
			<div class="col-lg-12">
				<div class="title-page">
					<h2 class="title">My Portfolio</h2>
					<h3 class="title-description">Collection of past, current and prototype Projects.</h3>
				</div>
			</div>
		</div>
		<!-- End Title Page -->

		<!-- Quote Box -->
		<div class="row">
			<div class="col-lg-12">
				<div class="quoteBox">
					<p class="text">"When one door closes, another opens; but we often look so long and so regretfully upon the closed door that we do not see the one that has opened for us."</p>
					<p class="author">Alexander Graham Bell</p>
				</div>
			</div>
		</div>
		
		<!-- Portfolio Projects -->
		<div class="row">
			<div class="col-lg-3">
				<!-- Filter -->
				<nav id="options" class="work-nav">
					<ul id="filters" class="option-set" data-option-key="filter">
						<li class="type-work">Type of Work</li>
						<li><a href="#filter" data-option-value=".none" class="selected">None</a></li>
						<li><a href="#filter" data-option-value=".sites">Web Sites</a></li>
						<li><a href="#filter" data-option-value=".design">Graphic Design</a></li>
						<li><a href="#filter" data-option-value=".prototypes">Prototypes</a></li>
						<li><a href="#filter" data-option-value="*">All Projects</a></li>
					</ul>
				</nav>
				<!-- End Filter -->
			</div>
			
			<div class="col-lg-9">
				<div class="row">
					<section id="projects">
						<ul id="thumbs">
						
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-9 none">
								<!-- Thumb Image and Description -->
								<img src="img/work/portfolio.jpg" alt="">
							</li>
							<!-- End Item Project -->

							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 sites">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="eJuice" href="img/work/portfolio/sites.n.1.jpg">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-link"></span>
								</a>
								<!-- Thumb Image and Description -->
								<img src="img/work/portfolio/sites.t.1.jpg" alt="eJuice by i2tm Labs. Our eJuice is made in the USA. It is comprised of 100% natural ingredients which include 50/50 PG/VG,All extracts and pure nicotine.&nbsp;<a target='_blank' href='http://ejuice.i2tmlabs.com'>Visit Site</a>">
							</li>
							<!-- End Item Project -->
							
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 sites">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="devZone" href="img/work/portfolio/sites.n.2.jpg">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-link"></span>
								</a>
								<!-- Thumb Image and Description -->
								<img src="img/work/portfolio/sites.t.2.jpg" alt="The devZONE is a testing and prototype area for the H5C3 Framework. Excellent example of the WebApps and Applets used in the modular design and content delivery.&nbsp;<a target='_blank' href='http://devzone.i2tmlabs.com'>Visit Site</a>">
							</li>
							<!-- End Item Project -->
							
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 sites">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Hoomla Project" href="img/work/portfolio/sites.n.3.jpg">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-link"></span>
								</a>
								<!-- Thumb Image and Description -->
								<img src="img/work/portfolio/sites.t.3.jpg" alt="Hoomla is a Combination of the H5C3 Framework and the Joomla CMS. Since H5C3 is all client side, Joomla MVC is used to provide the Server Side.&nbsp;<a target='_blank' href='http://portal.i2tmlabs.com/'>Visit Site</a>">
							</li>
							<!-- End Item Project -->
							
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 sites">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="i2tm Labs Main Site" href="img/work/portfolio/sites.n.4.jpg">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-link"></span>
								</a>
								<!-- Thumb Image and Description -->
								<img src="img/work/portfolio/sites.t.4.jpg" alt="This site provides examples, Information, ordering and Support for i2tm labs.&nbsp;<a target='_blank' href='http://portal.i2tmlabs.com/home'>Visit Site</a>">
							</li>
							<!-- End Item Project -->
							
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 sites">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Kuiper Assult (Game)" href="img/work/portfolio/sites.n.5.jpg">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-link"></span>
								</a>
								<!-- Thumb Image and Description -->
								<img src="img/work/portfolio/sites.t.5.jpg" alt="This is the first application created with the H5C3 Framework. Completely playable and free to all. I still use it for testing the framework and Hoomla backend as it evolves.&nbsp;<a target='_blank' href='http://i2tmlabs.com/test/KuiperAssult/'>Visit Site</a>">
							</li>
							<!-- End Item Project -->
							
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 sites">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="My Company Landing Page" href="img/work/portfolio/sites.n.6.jpg">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-link"></span>
								</a>
								<!-- Thumb Image and Description -->
								<img src="img/work/portfolio/sites.t.6.jpg" alt="My primary company landing page.&nbsp;<a target='_blank' href='http://i2tmlabs.com'>Visit Site</a>">
							</li>
							<!-- End Item Project -->
							
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 design">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="img/work/design/design.n.1.jpg">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-resize-fullscreen"></span>
								</a>
								<!-- Thumb Image and Description -->
								<img src="img/work/design/design.t.1.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
							</li>
							<!-- End Item Project -->
							
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 design">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="img/work/design/design.n.2.jpg">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-resize-fullscreen"></span>
								</a>
								<!-- Thumb Image and Description -->
								<img src="img/work/design/design.t.2.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
							</li>
							<!-- End Item Project -->
							
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 design">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="img/work/design/design.n.3.jpg">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-resize-fullscreen"></span>
								</a>
								<!-- Thumb Image and Description -->
								<img src="img/work/design/design.t.3.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
							</li>
							<!-- End Item Project -->
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 design">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="img/work/design/design.n.4.jpg">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-resize-fullscreen"></span>
								</a>
								<!-- Thumb Image and Description -->
								<img src="img/work/design/design.t.4.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
							</li>
							<!-- End Item Project -->
							
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 design">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="img/work/design/design.n.5.jpg">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-resize-fullscreen"></span>
								</a>
								<!-- Thumb Image and Description -->
								<img src="img/work/design/design.t.5.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
							</li>
							<!-- End Item Project -->
							
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs col-lg-3 design">
								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
								<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="img/work/design/design.n.6.jpg">
									<span class="overlay-img"></span>
									<span class="overlay-img-thumb font-icon-resize-fullscreen"></span>
								</a>
								<!-- Thumb Image and Description -->
								<img src="img/work/design/design.t.6.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
							</li>
							<!-- End Item Project -->
							
						</ul>
					</section>
					
				</div>
			</div>
		</div>
		<!-- End Portfolio Projects -->
	</div>
	</div>
	<!-- End Our Work Section -->

	<!-- Gallery Section -->
	<div id="gallery" class="page-alternate">
	<div class="container">
	<!-- Title Page -->
	<div class="row">
		<div class="col-lg-12">
			<div class="title-page">
				<h2 class="title">My Gallery</h2>
				<h3 class="title-description">Learn more about me.</h3>
			</div>
		</div>
	</div>
	<!-- End Title Page -->

	<!-- Quote Box -->
	<div class="row">
		<div class="col-lg-12">
			<div class="quoteBox">
				<p class="text">"Never Tell People How To Do Things. Tell Them What To Do And They Will Surprise You With Their Ingenuity."</p>
				<p class="author">George S. Patton</p>
			</div>
		</div>
	</div>

		<div class="row">
			<div class="col-lg-4">
				<section class="highlight highlight-one">
					<span class="image-wrap image-pic"><img src="img/me/1.jpg" alt=""></span>
					<h3><a href="#">Yes, Color was available.</a></h3>
					<p>Damn! I was a cute baby...Wut happened?</p>
				</section>
			</div>
			<div class="col-lg-4">
				<section class="highlight highlight-two">
					<span class="image-wrap image-pic"><img src="img/me/2.jpg" alt=""></span>
					<h3><a href="#">Mommy cut my hair with a bowl</a></h3>
					<p>My very first set of wheels. Gonna go pick up some chicks at the playground.</p>
				</section>
			</div>
			<div class="col-lg-4">
				<section class="highlight highlight-three">
					<span class="image-wrap image-pic"><img src="img/me/3.jpg" alt=""></span>
					<h3><a href="#">Throw me some wood, wood ya?</a></h3>
					<p>OMG! Why did I post that one...You know which one. LOL</p>
				</section>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">
				<section class="highlight highlight-one">
					<span class="image-wrap image-pic"><img src="img/me/4.jpg" alt=""></span>
					<h3><a href="#">New Soldier, New Dad</a></h3>
					<p>First picture in uniform followed by first picture of both of my lovely children.</p>
				</section>
			</div>
			<div class="col-lg-4">
				<section class="highlight highlight-two">
					<span class="image-wrap image-pic"><img src="img/me/5.jpg" alt=""></span>
					<h3><a href="#">Late 30's, Early Forty's</a></h3>
					<p>Left is in Camp Bucca, Iraq. Right is me looking at my new wife ;)</p>
				</section>
			</div>
			<div class="col-lg-4">
				<section class="highlight highlight-three">
					<span class="image-wrap image-pic"><img src="img/me/3L.jpg" alt=""></span>
					<h3><a href="#">Deep in though on duty</a></h3>
					<p>NOT! I freaking fell asleep LOL. No, really I was deep in thought, amazed...the camoflouge works so well. WHERE IS MY ARM?"</p>
				</section>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-4">
				<section class="highlight highlight-one">
					<span class="image-wrap image-pic"><img src="img/me/FirstDate-7x5.jpg" alt=""></span>
					<h3><a href="#">Ocotillio Wells</a></h3>
					<p>First date with my soon to be wife. We went camping for the weekend, off-roading, the works.</p>
				</section>
			</div>
			<div class="col-lg-4">
				<section class="highlight highlight-two">
					<span class="image-wrap image-pic"><img src="img/me/wedding.jpg" alt=""></span>
					<h3><a href="#">Our Wedding</a></h3>
					<p>What can I say? I am so lucky to have a wife like her.</p>
				</section>
			</div>
			<div class="col-lg-4">
				<section class="highlight highlight-three">
					<span class="image-wrap image-pic"><img src="img/me/Honeymoon-7x5.jpg" alt=""></span>
					<h3><a href="#">Honeymoon</a></h3>
					<p>I forget the name, it's the famous boat ride in Los Angles where you go see all the Million dollar houses of the super stars.</p>
				</section>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<section class="highlight highlight-one">
					<span class="image-wrap image-pic"><img src="img/me/6S.jpg" alt=""></span>
					<h3><a href="#">Annual Training 2011</a></h3>
					<p>From left to right: SGT Pace, Myself, CPT Milam and 1SG Soto. Both CPT Milam and 1SG Soto were the best leaders I even had the honor to serve with. To bad Company Commanders only stay for two years.</p>
				</section>
			</div>
			<div class="col-lg-4">
				<section class="highlight highlight-two">
					<span class="image-wrap image-pic"><img src="img/me/7S.jpg" alt=""></span>
					<h3><a href="#">Kuwait, 2008</a></h3>
					<p>Second picture in from left was taken in Kuwait in early 2008.</p>
				</section>
			</div>
			<div class="col-lg-4">
				<section class="highlight highlight-three">
					<span class="image-wrap image-pic"><img src="img/me/Army_Ball-4x6.jpg" alt=""></span>
					<h3><a href="#">Army Ball in 2012</a></h3>
					<p>OMG! She looks so beautiful. Did I mention I was a lucky man? Oh, and the new Army Dress uniform looks ok too :)</p>
				</section>
			</div>
		</div>
		
	<!-- End Gallery -->
	</div>
	</div>
	<!-- End Gallery Section -->


	<!-- Contact Section -->
	<div id="contact" class="page">
	<div class="container">
	<!-- Title Page -->
	<div class="row">
		<div class="col-lg-12">
			<div class="title-page">
				<h2 class="title">Contact Me</h2>
				<h3 class="title-description">We’re currently accepting new client projects. We look forward to serving you.</h3>
			</div>
		</div>
	</div>
	<!-- End Title Page -->

	<!-- Quote Box -->
	<div class="row">
		<div class="col-lg-12">
			<div class="quoteBox">
				<p class="text">“Two Things Are Infinite: The Universe And Human Stupidity; And I'm Not Sure About The Universe.”</p>
				<p class="author">Albert Einstein</p>
			</div>
		</div>
	</div>

	<!-- Contact Form -->
	<div class="row">
		<div class="col-lg-9">
		
			<form id="contact-form" class="contact-form" action="#">
				<p class="contact-name">
					<input id="contact_name" type="text" placeholder="Full Name" value="" name="name" />
				</p>
				<p class="contact-email">
					<input id="contact_email" type="text" placeholder="Email Address" value="" name="email" />
				</p>
				<p class="contact-message">
					<textarea id="contact_message" placeholder="Your Message" name="message" rows="15" cols="40"></textarea>
				</p>
				<p class="contact-submit">
					<a id="contact-submit" class="submit" href="#">Send Your Email</a>
				</p>
				
				<div id="response">
				
				</div>
			</form>
		 
		</div>
		
		<div class="col-lg-3">
			<div class="contact-details">
				<h3>Contact Details</h3>
				<ul>
					<li>
						<address>
						i2tm Labs
						<br>
						Yuma, Arizona 85364
						<br>
						USA
						<address>
					</li>
					<li><img alt="My Phone" src="img/myphone.png"></li>
					<li><img alt="My Email" src="img/myemail.png"></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- End Contact Form -->
	</div>
	</div>
	<!-- End Contact Section -->

	<!-- Socialize -->
	<div id="social-area" class="page">
	<div class="container">
	<!-- Title Page -->
	<div class="row">
		<div class="col-lg-12">
			<div class="title-page">
				<h2 class="title">Via Social</h2>
				<h3 class="title-description">We’re currently accepting new client projects. We look forward to serving you.</h3>
			</div>
		</div>
	</div>
	<!-- End Title Page -->
		<div class="row">
			<div class="col-lg-12">
				<nav id="social">
					<ul>
						<li><a href="https://twitter.com/AndrewDonelson" title="Follow Me on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>
						<li><a href="https://www.facebook.com/andrew.donelson" title="Follow Me on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
						<li><a href="https://plus.google.com/105500420878314068694" title="Follow Me on Google Plus" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
						<li><a href="http://www.linkedin.com/in/alessioatzeni" title="Follow Me on LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	</div>
	<!-- End Socialize -->

	<!-- Footer -->
	<footer>
	<p class="credits">&copy; Copyright 2013 Andrew Donelson.</p>
	</footer>
	<!-- End Footer -->

	<!-- Back To Top -->
	<a id="back-to-top" href="#">
	<i class="font-icon-arrow-simple-up"></i>
	</a>
	<!-- End Back to Top -->
</div>
