<div id="background" data-layout="Absolute">
	<div id="wrapper">
		<!-- Always on top: Position Fixed-->
		<div id="header"><div id="logo"><h1 class="variable scale">H5C3 HomeCloud Builder</h1></div></div>
		
		<!-- Fixed size after header-->
		<div id="content">
		
			<!-- Always on top. Fixed position, fixed width, relative to content width-->
			<div id="leftSidebar">
				<div id="menu">
					<div id="nav">
						<h3>Create or Edit?</h3><br />
						<ul class="style3" style="padding: 20px;">
							<li class="button button-style2"><a href="#">Home</a></li><br />
							<li class="button button-style2"><a href="#">Personal</a></li><br />
							<li class="button button-style2"><a href="#">Blog</a></li><br />
							<li class="button button-style2"><a href="#">Forum</a></li><br />
							<li class="button button-style2"><a href="#">Store</a></li><br />
							<li class="button button-style2"><a href="#">Theme</a></li><br />
							<li class="button button-style2"><a href="http://i2tmlabs.com/">Exit</a></li><br />
						</ul>
					</div>					
				</div>
				
			<div id="socialBar">
				<h1 class="icon icon-comment">&nbsp;Social</h1>
				<p>
					<a href="https://twitter.com/AndrewDonelson" id="twitter"><img alt="Twitter" src="http://h5c3.i2tmlabs.com/img/i2tm_social_twitter.png" /></a>
					<a href="http://www.linkedin.com/pub/andrew-donelson/5b/27/861" id="linkedin"><img alt="LinkedIn" src="http://h5c3.i2tmlabs.com/img/i2tm_social_linkedin.png" /></a>
					<a href="https://plus.google.com/114532266100403759577/about/p/pub"id="google" ><img alt="Google+" src="http://h5c3.i2tmlabs.com/img/i2tm_social_gplus.png" /></a>
					<a href="https://www.facebook.com/andrew.donelson" id="facebook"><img alt="Facebook" src="http://h5c3.i2tmlabs.com/img/i2tm_social_facebook.png" /></a>
				</p>
			</div>
				
				<div class="variable"></div>
			</div>
			
			<!-- Scrollable div with main content -->
			<div id="scrollable" class="variable animated fadeIn">
				<!-- applet.intro.html -->
			</div>
			
			<!-- Always on top. Fixed position, fixed width, relative to content width -->
			<div id="rightSidebar"><div class="variable"></div></div>
			
		</div><!-- content -->
		
		<!-- Always at the end of the page -->
		<div id="footer">
			<!-- Copyright -->
			<div id="copyright">
				<span>&copy; <a href="http://i2tmlabs.com/">i2tm Labs</a> - All rights reserved.<br />Reusing any content on this site in not authorized without written permission.</span>
				<p>
				<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fme.i2tmlabs.com%2F"><img src="http://h5c3.i2tmlabs.com/img/icon_w3c-valid-html5.jpg" alt="HTML5 VALID" /></a>
				<a href=""><img src="http://h5c3.i2tmlabs.com/img/icon_w3c-valid-css3.jpg" alt="CSS3 VALID" /></a>
				</p>
			</div>
			<!-- /Copyright -->
		</div><!-- footer -->
	</div><!-- wrapper -->
</div><!-- background -->
