<div id="wrapper" data-role="application" data-layout="absolute-all" data-skin="">
	<!-- Always on top: Position Fixed-->
	<div id="header"></div>
	
	<!-- Fixed size after header-->
	<div id="content">
	
		<!-- Always on top. Fixed position, fixed width, relative to content width-->
		<div id="leftSidebar"></div>
		
		<!-- Scrollable div with main content -->
		<div id="scrollable" class="variable animated fadeIn"></div>
		
		<!-- Always on top. Fixed position, fixed width, relative to content width -->
		<div id="rightSidebar"></div>
		
	</div><!-- content -->
	
	<!-- Always at the end of the page -->
	<div id="footer">
	</div><!-- footer -->
</div><!-- wrapper -->