@charset 'UTF-8';

/*********************************************************************************
 Basic    
 Bright:	#00FF00		hover, border, anywhere to brink attention		
 Light:		#C2FFC2		primary foreground color (text, ect)
 Medium: 	#34AA34	 	herder, sub herder, link foreground
 Dark:		#001000		primary background color
*********************************************************************************/
.bgBright { background-color: #00ff00;}	.fgBright { color: #00ff00; }
.bgLight { background-color: #c2ffc2;}	.fgLight { color: #c2ffc2; }
.bgMedium { background-color: #34aa34;}	.fgMedium { color: #34aa34; }
.bgDark { background-color: #001000; }	.fgdark { color: #001000; }


body {
	font-family: Arial, sans-serif;
	font-weight: 400;
	color: #C2FFC2;/*Light*/
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	color: #C2FFC2;/*Light*/
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: #34AA34;/*Medium*/
	-moz-transition: color .25s ease-in-out;
	-webkit-transition: color .25s ease-in-out;
	-o-transition: color .25s ease-in-out;
	-ms-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
}

	a:hover 	{
		text-decoration: none;
		color: #00FF00;/*Bright*/
	}

strong, b {
	font-weight: 700;
}

blockquote {
	border-left: solid 0.5em #ddd;
	font-style: italic;
}

em, i {
	font-style: italic;
}

hr {
	border: 0;
	border-top: solid 1px #34AA34;/*medium*/
}

sub {
	position: relative;
	top: 0.5em;
	font-size: 0.8em;
}

sup {
	position: relative;
	top: -0.5em;
	font-size: 0.8em;
}

table {
	width: 100%;
}

	table.style1 	{
		width: 100%;
	}
	
		table.style1 tbody tr:nth-child(2n+2) 		{
			background: #001000;/*dark*/
		}
		
		table.style1 td  {
			padding: 0.5em 1em 0.5em 1em;
		}
		
		table.style1 th  {
			text-align: left;
			font-weight: 400;
			padding: 0.5em 1em 0.5em 1em;
		}
	
		table.style1 thead {
			background: #001000;/*dark*/
			color: #34AA34;/*medium*/
		}
		
		table.style1 tfoot {
			background: #001000;/*dark*/
		}
		
		table.style1 tbody 	{
		}

form {
}

	form label {
		display: block;
		font-size: 1.15em;
		color: #34AA34;/*medium*/
		font-weight: 800;
		padding-bottom: 0.8em;
	}
	form input[type="text"], 
	form input[type="password"],
	form input.text,
	form select,
	form textarea {
		-webkit-appearance: none;
		display: block;
		border: 0;
		outline-color: transparent;
		background: #34AA34;/*medium*/
		box-shadow: inset 0px 0px 1px 0px #001000;/*dark*/
		border-radius: 0.35em;
		width: 100%;
		padding: 7px 5px 7px 5px;
		-moz-transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;
	}

	form input[type="text"]:hover, 
	form input[type="password"]:hover,
	form input.text:hover,
	form select:hover,
	form textarea:hover {
		background: #00FF00;/*Bright*/
	}
	form input[type="text"]:focus, 
	form input[type="password"]:focus,
	form input.text:focus,
	form select:focus,
	form textarea:focus {
		background: #34AA34;/*medium*/
	}
			
	form textarea {
		min-height: 10em;
	}

	form .formerize-placeholder {
		color: black !important;
		font-style: italic;
	}

	form ::-webkit-input-placeholder 	{
		color: black !important;
		font-style: italic;
	}

	form :-moz-placeholder {
		color: black !important;
		font-style: italic;
	}

	form ::-moz-placeholder {
		color: black !important;
		font-style: italic;
	}

	form :-ms-input-placeholder {
		color: black !important;
		font-style: italic;
	}

	form ::-moz-focus-inner {
		border: 0;
	}

	.nobr {
		white-space: nowrap;
	}

	br.clear {
		clear: both;
	}
	
	p, ul, ol, dl, table, blockquote, form {
		margin-bottom: 2em;
		line-height: 1.3em;
	}
	
	section, article {
		margin-bottom: 3em;
	}
	
	section > :last-child,	article > :last-child {
		margin-bottom: 0;
	}

	section:last-child,article:last-child {
		margin-bottom: 0;
	}
	
	header.style1 {
		text-align: center;
	}

		header.style1 h2 {
			font-weight: 700;
		}
		
		header.style1 .byline {
			color: #34AA34;/*medium*/
		}

	.image {
		display: inline-block;
	}
	
		.image img {
			display: block;
			width: 100%;
		}

	.image-full {
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}

	.image-left {
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered {
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img {
			margin: 0 auto;
			width: auto;
		}
		
	.image-featured {
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.button-light { font-size: 0.7em; background: #cccccc; color: #001000; box-shadow: inset 0px 0px 2px 0px #333;}
	.button-light:hover { box-shadow: inset 0px 0px 2px 0px #efe; }
	.button-light:active { box-shadow: inset 0px 0px 2px 0px #3f3; }

	ul.style1 {}
		ul.style2 li {}

	ul.style2 {
	}
	
		ul.style2 li {
			border-top: solid 1px #eee;
			padding: 0.5em 0 0 0;
			margin: 0.5em 0 0 0;
		}
		
		ul.style2 li:first-child {
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}
	
	ul.style3 {}
	
		ul.style3 li {
			border-top: solid 1px #eee;
			padding: 0.0em 0 0 0;
			margin: 0.0em 0 0 0;
		}
		
		ul.style3 li:first-child
		{
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}
	
	ol.style1 {}
		
	.actions {}

	.feature-list {}

		.feature-list h3	{
			color: #00ff00 !important;/*bright*/
		}
		
			.feature-list h3:before {
				position: relative;
				display: inline-block;
				color: #c2ffc2;/*Light*/
				background: #34aa34;/*Medium*/
				border-radius: 1em;
				text-align: center;
			}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

.btnMenu {
	opacity: 1;
	background-color: rgba(0, 16, 0, 0.50);/*Dark*/
	-webkit-border-radius: .5em;
	border-radius: .5em;
	background-clip: padding-box;
	-webkit-box-shadow: 0px 0px 15px 0px #34aa24;/*Dark*/
	box-shadow: 0px 0px 15px 0px #34aa34;/*Dark*/
	font-size: 1em;
	text-align: center;
	text-decoration: none;
} 
	.btnMenu:hover {-webkit-box-shadow: 0px 0px 15px 0px #00FF00; box-shadow: 0px 0px 30px 2px #34aa34; } 
	.btnMenu a {	text-decoration: none;text-decoration: none; line-height: 1.5em; letter-spacing: .2em;}	.btnMenu a{color: inherit;} .btnMenu a:hover { color: #0f0; }

.lightbox {
	opacity: 0.65;
	color: #C2FFC2;
	background-color: #001000;
	padding: 25px;
	margin-top: 1em;
	margin-bottom: 1em;
	-webkit-border-radius: .8em; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	border-radius: .8em; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */

	background-clip: padding-box; /* Android 2.2+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 4+ */
	
  -webkit-box-shadow: 0px 0px 4em 2px #006000; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
   box-shadow: 0px 0px 2em 2px #006000; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
}


.launcher  { 	
	background: url('http://h5c3.i2tmlabs.com/img/bg_i2tm.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

	
/*********************************************************************************/
/* Highlights                                                                    */
/*********************************************************************************/

#highlights
{}
	#highlights .highlight { text-align: center; }
		#highlights .highlight h3 { color: #e97770; }

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
#copyright { text-align: center; 	padding: 6px; }
#copyright p { padding: 0; }
#copyright span {
	font-size: .7em;
	letter-spacing: 0.35em;
	display: inline-block;
	border-radius: 0.35em;
	box-shadow: inset 0px 0px 1px 1px #4C9749;
	padding: .75em;
}

/*!
 * APPLICATION SPECIFIC STYLE :: I2TM Builder Specific Stylesheet
 */
#scrollable {
	border: 1px solid #333;
}
#menu {	margin-top: 1em; }
#menu h3 { 
	display: inline-block;
	font-size: 60%;
	letter-spacing: 0.35em;
	border-radius: 0.35em;
	box-shadow: inset 0px 0px 1px 1px #666;
	color: #333;
	text-align: center;
}
#myPreview {
	float: left;
	margin: 8px;
	width: 640px !important;
	height: 426px !important;'
	max-height: 426px;
	min-height: 426px;
	min-width: 640px;
	max-width: 640px;				
}
#preview {
	top: -410px;
	position: relative;
	left: 29px;
	width: 582px;
	height: 364px;
	text-align: center;
	opacity: 0.85;
	-webkit-box-shadow:  0px 0px 12px 12px #0;
	box-shadow:  0px 0px 12px 1px #0;
	overflow:auto;
}
#monitor {
	width: 640px;
	height: 426px;
	max-width: 640px;
	max-height: 426px;
	min-width: 640px;
	min-height: 426px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

#monitorImg {
	width: 100%;
	height: 100%;
}
#monitorBtns {
	z-index:5;
	position: relative; top: -32px !important; left: 350px !important;
	width: 80%;
}
	#monitorBtns  a
	{
		display: inline-block;
		text-align: center;
		margin: 0 12px 4px 12px;
		text-transform: uppercase;
		font-size: 75%;
		font-weight: 100;
		letter-spacing: 0.25em;
		text-decoration: none;
		border: 0;
		outline: 0;
		cursor: pointer;
	}
	

#main .button {
	background-color:transparent;
	display:inline-block;
	line-height: 0px;
	font-size:12px;
	padding: 0.60em 1.25em 0.50em 1.25em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 0px 0px #3e963e;
}.classname:hover {
	background-color:#008c17;
}.classname:active {
	position:relative;
	top:1px;
}
	.button a {
		color: #419c3f;
		text-decoration:none;
	}
	.button a:hover {
		color: #23e71e;
		text-decoration:none;
	}
	
#main #form input[type="text"] {
	width: 120px;
	height: 40px;
	font-size: 75%;
}
#main .color {
	width: 150px !important;
	height: 25px !important;'
}
#tooSmall {
	opacity: 0.9;
	background: black;
	z-index: 10000;
	width: 100%;
	height: 100%;
}

.border { border: 1px solid black; }

.adSense {
	background: blue;
}

.lightbox h5 {
	background:-webkit-gradient(linear, 80% 20%, 0% 100%, from(#FFFFFF), to(#00AD00));
	color: #aaeeaa;
	padding: 0 0 6px 6px;
	text-shadow: 2px 2px 8px #000000;
	-webkit-border-radius: 0.2em; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
	border-radius: 0.2em; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
}
.bgTiledLight {
	background-image: url(../img/bg.rend.matrix.light.green.png);
	background-repeat: repeat;
	position: fixed; 
	opacity:0.20;
}
